@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --color-black:      #000000;
    --color-dark-grey:  #6e6e73;
    --color-grey:       #86868b;
    --color-light-grey: #d8d8d8;
    --color-orange:     #ff5400;
    --color-blue:       #007eff;

    --size: 24px;
    --base-transition: .4s;
}

* {
    box-sizing: border-box;
}

html {}

body {
    position: relative;
    font-family: 'sf-pro-display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.base-button {
    z-index: 0;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    outline: 0;
    border: none;
}

@media (min-width: 768px) {
    .base-button {
        min-width: 164px;
    }
}

.base-button--outline {
    background-color: #ffffff;
    border: 1px solid var(--color-light-grey);
    color: var(--color-orange);
}

.base-button--outline:hover {
    opacity: .75;
    transition: all .3s;
}

.base-button--filled {
    background: var(--color-orange);
}

@media (min-width: 768px) {
    .base-button--filled {
        overflow: hidden;
        transition: 0.1s ease-in;
    }
}

.base-button--filled:hover {
    color: #000000;
}

@media (min-width: 768px) {
    .base-button--filled:before {
        content: "";
        position: absolute;
        background-color: #ffffff;
        border: 1px solid var(--color-light-grey);
        bottom: 0;
        left: 0;
        right: 0;
        top: 100%;
        z-index: -1;
        -webkit-transition: top 0.2s ease-in;
    }

    .base-button--filled:hover:before {
        top: 0;
    }
}

.page {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.page-header__logo {
    max-width: 160px;
    display: flex;
    align-items: center;
}

.page-header__logo img {
    width: 100%;
    height: 100%;
}

.page-header__phone {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.2;
    color: var(--color-black);
    text-transform: uppercase;
    text-decoration: none;
}

.page-header__menu-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.page-header__menu-item {}

.page-header__menu-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
    text-transform: uppercase;
    text-decoration: none;
}

.page-offer-header {
    max-width: 850px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .page-offer-header {
        margin-bottom: 30px;
    }
}

.page-offer-header__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: var(--size);
}

.page-offer-header__title span {
    color: var(--color-dark-grey);
}

@media (max-width: 768px) {
    .page-offer-header__title {
        font-size: 26px;
    }
}

.page-offer-header__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
}

@media (max-width: 768px) {
    .page-offer-header__text {
        font-size: 16px;
    }
}

/**/

.page-offer__availability {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px;
    margin-bottom: 34px;
}

@media (max-width: 768px) {
    .page-offer__availability {
        grid-template-columns: 1fr;
    }
}

.availability__option {
    position: relative;
    display: grid;
    gap: 10px;
    width: 100%;
    text-align: center;
    padding: 15px 20px;
    border-radius: 13px;
    border: 1px solid var(--color-light-grey);
}

@media (max-width: 768px) {
    .availability__option {
        padding: 15px 10px 10px;
    }

    .availability__option:before {
        content: "";
        position: absolute;
        top: -17px;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        width: 50%;
        height: 1px;
        transform: translateX(50%);
        background-color: var(--color-light-grey);
    }
}

.option__title {
    font-size: 33px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: 6px;
}

.option__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.option-price__label {
    position: relative;
    display: block;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-black);
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--color-black);
}

.option-price__label sup {
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-orange);
}

.option-price__value {
    font-size: 21px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--color-black);
}

.option-price__value--tax {
    font-size: 25px;
    font-weight: 300;
    color: var(--color-orange);
}

.option__buttons {
    display: none;
}

@media (max-width: 768px) {
    .option__buttons {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .option__button {
        width: 50%;
    }
}



.page-offer-table {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 24px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .page-offer-table {
        display: none;
    }
}

.page-offer-table__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 34px;
}

.page-offer-table__cell {
    display: flex;
    flex-direction: column;
}

.page-offer-table__cell:not(:first-child) {
    align-items: center;
}

.page-offer-table__divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-light-grey);
}

.page-offer-table__cell:not(:first-child) .page-offer-table__divider {
    width: 50%;
}

.page-offer-table__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
    text-align: center;
}

.page-offer-table__cell:first-child .page-offer-table__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-grey);
    text-align: left;
}

.page-offer-table__more {
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.2;
    color: var(--color-orange);
    text-decoration: none;
}

.page-offer-table__more:hover {
    opacity: .8;
    transition: opacity .3s;
}

.page-offer-table__condition {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
    text-align: center;
}

.page-offer-table__condition:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: solid var(--color-black);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.page-offer-table__condition:hover {
    color: var(--color-dark-grey);
    transition: opacity .3s;
}

.page-offer-table__condition:hover:after {
    border: solid var(--color-dark-grey);
    border-width: 0 2px 2px 0;
    transition: border .3s;
}

.page-offer-table__button {

}

/**/

.page-offer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 34px;
    margin-bottom: 60px;
}

.exchange__title {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: 12px;
}

.exchange__content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 20px;
    grid-template-areas:
      "A C"
      "B C";
    padding: 15px 20px;
    border-radius: 13px;
    border: 1px solid var(--color-light-grey);
}

@media (max-width: 768px) {
    .exchange__content {
        padding: 15px 10px 10px;
    }
}

.exchange__date {
    grid-area: A;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-black);
}

.exchange__rate {
    grid-area: B;
    display: block;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.2;
    color: var(--color-black);
}

.exchange__flag {
    grid-area: C;
    width: 36px;
    height: 36px;
}



.options-list__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-grey);
}



.option-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 34px;
    padding-bottom: 34px;
    border-top: 1px solid var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-grey);
}

.option-list__item {
    text-align: center;
}

.option-list__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
}





.page-offer-footer {

}

.page-offer-footer__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: 24px;
}

.page-offer-footer__benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    padding: var(--size);
    border-radius: 12px;
    border: 1px solid var(--color-light-grey);
}

@media (max-width: 768px) {
    .page-offer-footer__benefits {
        grid-template-columns: 1fr;
    }
}

.page-offer-footer__benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size);
}

.benefit__icon {
    width: 68px;
    height: 68px;
}

.benefit__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-black);
    text-align: center;
    margin-bottom: auto;
}

.benefit__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    text-align: center;
}

.page-offer-footnotes {
    margin-top: var(--size);
}

.page-offer-footnote {
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--color-grey);
}

.page-offer-footnote sup {
    color: var(--color-orange);
}

.modal__wrapper {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
}

.modal__box {
    z-index: 998;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 630px;
    height: auto;
    background-color: #ffffff;
    border-radius: 12px;
    transform: translate(-50%, -50%);
}

.modal__inner {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    padding: 30px 35px;
    overflow: auto;
}

@media (max-width: 768px) {
    .modal__inner {
        padding: 20px 25px;
    }
}

.modal__close {
    cursor: pointer;
    position: absolute;
    top: -60px;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.41412 1.41422C0.633118 2.19522 0.633118 3.46158 1.41412 4.24258L6.58575 9.41422L1.85785 14.1421C1.07672 14.9232 1.07672 16.1895 1.85785 16.9706C2.63885 17.7516 3.90521 17.7516 4.68622 16.9706L9.41425 12.2427L14.142 16.9705C14.9232 17.7516 16.1894 17.7516 16.9705 16.9705C17.7515 16.1895 17.7515 14.9231 16.9705 14.1421L12.2426 9.41422L17.4141 4.24271C18.1953 3.46158 18.1953 2.19534 17.4141 1.41422C16.6331 0.633209 15.3668 0.633209 14.5858 1.41422L9.41425 6.58572L4.24261 1.41422C3.46149 0.633087 2.19525 0.633087 1.41412 1.41422Z' fill='%236E6E73'/%3E%3C/svg%3E%0A") no-repeat center;
}

.modal__close:hover {
    transform: rotate(90deg);
    transition: transform .3s;
}

.modal__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-black);
    margin-bottom: 24px;
}

.modal__title span {
    display: inline-block;
    color: var(--color-dark-grey);
}

@media (max-width: 768px) {
    .modal__title {
        font-size: 20px;
    }
}

.modal__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    text-align: center;
}

.modal__longread {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.modal__longread p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--color-dark-grey);
    text-align: center;
}

.modal__longread p + p {
    margin-top: 14px;
}

.modal__button {
    margin-top: 24px;
}

.modal-table {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.modal-table__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
}

.modal-table__row:first-child .modal-table__row--left:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-light-grey);
    margin-bottom: 34px;
}

.modal-table__row:first-child .modal-table__row--right:before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: var(--color-light-grey);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
}

.modal-table__term {
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
    color: var(--color-grey);
}

.modal-table__definition {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    text-align: center;
}

.modal-table__definition--filled {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-black);
    text-align: center;
}

.modal-table__definition--filled:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: solid var(--color-black);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.modal-table__definition a {
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.4;
    color: var(--color-orange);
    text-align: center;
    text-decoration: none;
}

.modal-table__definition span {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.4;
    color: var(--color-black);
    text-align: center;
}

.success-message {
    display: none;
}

.page-offer-form {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

@media (max-width: 768px) {
    .page-offer-form {
        gap: 12px;
    }
}

.page-offer-form:before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: var(--color-light-grey);
    /*margin-top: 12px;*/
}

.page-offer-form__field label {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .page-offer-form__field label {
        font-size: 14px;
    }
}

.page-offer-form__field input {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-orange);
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid var(--color-light-grey);
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
}

@media (max-width: 768px) {
    .page-offer-form__field input {
        font-size: 16px;
    }
}

.page-offer-form__field input:focus {
    outline: none;
}

.page-offer-form__field input:-webkit-autofill,
.page-offer-form__field input:-webkit-autofill:hover,
.page-offer-form__field input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--color-orange);;
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
}

.page-offer-form__radios {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media (max-width: 768px) {
    .page-offer-form__radios {
        flex-wrap: wrap;
        gap: 8px;
    }

    .page-offer-form__radio {
        width: 100%;
    }
}

.page-offer-form__caption {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .page-offer-form__caption {
        font-size: 14px;
        margin-bottom: 12px;
    }
}

.page-offer-form__radio {}

.page-offer-form__radio label {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.4;
    color: var(--color-black);
}

@media (max-width: 768px) {
    .page-offer-form__radio label {
        font-size: 14px;
    }
}

.page-offer-form__radio label:before {
    content: "";
    position: relative;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
}

.page-offer-form__radio input {
    cursor: pointer;
    display: none;
    width: initial;
    height: initial;
    margin-bottom: 0;
    padding: 0;
}

.page-offer-form__radio input:checked + label:before {
    content: "";
    background-color: var(--color-orange);
}

.page-offer-form__radio input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
}

.page-offer-form__footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 768px) {
    .page-offer-form__footer {
        flex-wrap: wrap;
    }
}

.page-offer-form__footer button {
    flex-shrink: 0;
}

.page-offer-form__footer span {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.2;
    color: var(--color-black);
}

.page-offer-form__footer span a {
    cursor: pointer;
    color: var(--color-blue);
    text-decoration: underline;
}

.page-offer-form__footer span a:hover {
    opacity: .8;
    transition: opacity .3s;
}

@media (max-width: 768px) {
    .page-offer-form__footer span {
        display: none;
    }
}